* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #c1b5ad;
}

#map {
  height: 100vh;
  width: 100vh;
}

#whole-box {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  width: 35vh;
  background-color: orange;
}

.selections {
  height: 45px;
  width: 45px;
  align-items: center;
}
